{% extends "base.html" %}
{% block title %}Item List{% endblock %}
		{% block content %}
    <p><a href="{% url index %}">&laquo; Вернуться на главную страницу</a></p>

    <h2>Альбомы</h2>
    {% if object_list %}
    <table>
        <tr>
            <th>Название</th>
            <th>Маленькая копия</th>
            <th>Описание</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td><i>{{ item.name }}</i></td>
            <td>
                {% if item.photo_set.count %}
                <a href="{{ item.get_absolute_url }}">
                    <img src="{{ item.photo_set.all.0.image.thumb_url }}" />
                </a>
                {% else %}
                (В данный момент фотографии не загружены)
                {% endif %}
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Нет альбомов для отображения.</p>
    {% endif %}

    {% endblock %}
